/env
.env
/.env
/cards
.DS_Store
/outputs
/data
cards.zip
*.zip
cropped_images
output
*.pth
/input_example
/runs

custom.yaml
/executable/env
/executable/__pycache__

/predict
/results

*.mp4
*.png
*.pt